body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  margin: 0; /* Se eliminó el margen para evitar posibles desplazamientos */
  position: relative;
  overflow: auto;
  height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
}

body::before {
  content: '';
  position: fixed; /* Ensure it covers the entire screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://i.postimg.cc/v8zPBY8N/Dise-o-sin-t-tulo.png'); /* Replace with your image URL */
  background-size: cover; /* Reverting to cover but maintaining aspect ratio */
  background-repeat: no-repeat; /* Ensures no repeated image */
  background-position: center; /* Centers the image */
  filter: brightness(0.85); /* Optional: Adjust brightness */
  z-index: -1; /* Send behind the main content */
}



/* New styles for question container */
/* New styles for each question container */
/* Apply styles only to individual question containers */
/* Styles for each question container */
/* Styles for each question container */
.question-box {
  background-color: #2e2e2e; /* Dark grey background */
  padding: 15px;            /* Padding for inner content */
  border-radius: 8px;       /* Rounded corners */
  margin-bottom: 20px;      /* Space between questions */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Shadow effect */
  max-width: fit-content;   /* Adjusts box width to the content size */
  margin-left: auto;        /* Centers the box */
  margin-right: auto;       /* Centers the box */
  color: #ffffff;           /* Text color set to white for better contrast */
}


#menu {
  padding: 0; /* Reset padding to avoid extra spacing around the title */
  max-width: 100%; /* Ensures full width of the page */
  margin: 0 auto;
}

.title {
  position: relative;
  color: white;
  background-color: black; /* Cambiado a fondo negro */
  padding: 20px;
  width: 100%;
  text-align: center;
  overflow: auto;
}

.title .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay with 50% opacity */
  z-index: 1;
}

.title h1 {
  position: relative;
  z-index: 2; /* Ensures the text is above the overlay */
  margin: 0; /* Optional: Remove default margin */
  text-align: center; /* Centrar el texto */
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  gap: 10px;
  max-width: 600px;
  margin: 20px auto; /* Adds spacing to separate from the title */
  text-align: center; /* Centra el texto de los menús */
}

.menu-item {
  margin: 10px;
  padding: 15px;
  background-color: black; /* Cambiado a color negro */
  color: white;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid black; /* Cambiado a negro */
  text-align: center;
  display: flex; /* To center content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.menu-item:hover {
  background-color: #333; /* Cambiado a un gris oscuro */
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black; /* Cambiado a fondo negro */
  padding: 20px;
  border: 1px solid black; /* Cambiado a negro */
  z-index: 1000;
  border-radius: 8px;
  color: white; /* Cambiado a texto blanco */
}

.fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
  visibility: hidden;
}

.fade-visible {
  opacity: 1;
  transition: opacity 0.5s ease-in-out, visibility 0s linear 0s;
  visibility: visible;
}

.button {
  background-color: black; /* Cambiado a negro */
  color: white;
  padding: 10px 20px;
  border: 2px solid black; /* Cambiado a negro */
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #333; /* Cambiado a un gris oscuro */
}

#questionnaire, #popup {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: white; /* Cambiado a texto blanco */
  text-shadow: 2px 2px 2px black; /* Contorno agregado a las letras blancas */
}

#questionsContainer p {
  max-width: 600px;
  margin: 0 auto 15px;
  font-size: 16px;
  line-height: 1.5;
  color: white; /* Cambiado a texto blanco */
  text-shadow: 2px 2px 2px black; /* Contorno agregado a las letras blancas */
}

#menuHeader {
  background-color: black; /* Cambiado a fondo negro */
  padding: 20px; /* Adjust padding as necessary */
}

#menuButtons {
  background-color: black; /* Cambiado a fondo negro */
  padding: 20px; /* Adjust padding as necessary */
}

#questionnaire .button.back-button {
  position: fixed; /* Change to 'fixed' so it stays outside document flow */
  top: 10px;
  left: 10px;
  background-color: black; /* Cambiado a negro */
  color: white;
  padding: 10px 20px;
  border: 2px solid black; /* Cambiado a negro */
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1000; /* Ensures it is on top of other elements */
}